* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(184, 21, 79);
}

button.btn {
    width: fit-content;
}

input,
select {
    border-color:rgb(184, 21, 79);
}

.top-border {
    border-top: solid 1px grey;
}

.bottom-border {
    border-bottom: solid 1px grey;
}

.hidden {
    display: none;
}